*{
	margin: 0;
	padding: 0 1%;
}
a{
	text-decoration:none;
}
html{
	width: 98%;			/*!!!!*/  
	height: 100%;
	background-color: #D0D7DF;
}

body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header{
	/* background-repeat: no-repeat; */
	width: 100%;
	border: 2px solid red;
	display: flex;
	min-height: 10%;
	background: #C0A0B0;
	justify-content: space-between;	
	/* background: url(img/m.jpg); */
}


header .do_it{
	justify-content: space-between;	
	width: 10%;
	height: 10%;
	text-align: center;
		
}
header .Main{
	/* margin-right: auto; */
	/* padding: 5% 2% ; */
}
header .auth_reg{
	/* padding: 5% 2% ; */
}

main{
	height: 100%;
	flex: 1 0 auto;
	display: flex;
}
main .s{
	padding: 0;
	text-align:center;
	color: #5C60D0;
	font-size: 2em;
}
main .content img{      /*!!!!!!!!!!!!!*/
	width: 80%;
}
main .content{
	text-align: center;
	justify-content: flex-start;
	/* margin-left: auto; */
	box-sizing: border-box;
	margin: 3% 5%;
	padding: 3% 5%;
	border: 2px solid red;
}

main .aside{
	margin-right: auto;
	margin-left: 1%;
	border: 2px solid red;
}
main .aside ul {
	width: 15%;
	/* width: auto; */
	margin: 0 0 2% 0 ;
	
}
main .aside ul li{
	width: auto;
	list-style: none;
	position: relative;
	text-align: center;
}
main .aside ul li a{
	/* display: block;    /*!!!!!*/  
	
 }


main .aside ul li ul {
	border: 3px solid solver;
	display: none;
	position: absolute;
	text-align: center;
	top: 0;
}
main .aside ul li ul li, .selected{
	left: 35px;
	text-align: center;	
	color: #950000;
}

main .aside ul li ul li:hover, .selected:hover{
	width: auto;
	min-width: 100%;
	opacity: 1.7;
}
main .banner{
	margin-right: 1%;
	margin-left: auto;
	border: 2px solid red;
}


footer{
	background-color: #00E000;
	display: flex;
	border-radius: 3px;
}
footer .really{
	margin-right: auto;
	padding: 5px;
	margin: 0.6% 5%;
	text-align: center;
}

footer #clockColor{
	/* margin-right: auto; */
	width: 10%;
	height: 10%;
	padding: 5px;
	margin: 0.6% 5%;
	text-align: center;
	border: 5px solid red;
	cursor: default;
}
footer .socials{
	margin-left: auto;
	text-align: right;
}
footer .really:hover{
	cursor: default;
}

footer .socials a img{
	width: 8%;
	background-color: #00E000;
	padding: 0.6% 4%;
	flex: 0 0 auto;
}
