
body{
	background: #b6f7fc;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.inner-header{
	width: 100%;
	height: 10%;
	background: #fc9c8b;
}
.content{
	width: 100%;
}
.inner-content{
	float: left;
	margin: 10px 0;
	width: 70%;
	background: #fc9c8b;
	min-height: 500px;
	
}
.sidebar1{
	float: left;
	width: 14%;
	padding-left: 10px;
}
.sidebar2{
	float: left;
	width: 14%;
	padding-right: 10px;
}
.sidebar-1{
	/* width: 100%; */
	height: 300px;
	background-color: #fc9c8b;
	margin: 10px 0;
	text-align: center;
	/* margin-left: 10px; */
}
.sidebar-2{
	/* width: 100%; */
	height: 300px;
	background-color: #fc9c8b;
	margin: 10px 0;
	text-align: center;
	/* margin-right: 10px; */
}

.inner-footer{
	width: 100%;
	height: 10%;
	background: #fc9c8b;
}